<%= turbo_frame_tag dom_id(@lecture) do %>
  <div class="quiz">
    <% @quiz = @lecture.quiz_for_student(current_user) %>
    <% quizz_questions = @quiz.questions %>

    <% previous_quizzes_count = @lecture.quizzes.where('created_at < ?', @quiz.created_at).where(user_id: current_user).count %>
    <p><%= previous_quizzes_count %>/3 quizzes submitted.</p>


    <% if @quiz.submitted? %>
      <div class="alert alert-info">
        You have already submitted this quiz.
        <%= @quiz.grade %>
      </div>
    <% else %>
      <%= form_with url: lecture_quiz_path(@lecture, @quiz, submit_quiz: true), method: :patch do |form| %>
        <ul>
          <% quizz_questions.each do |question| %>
            <li>
              <div class="question">
                <h2><%= question.title %></h2>
                <% question.answers.each do |answer| %>
                  <div class="form-check">
                    <%= form.radio_button "answers[#{question.id}]", answer.value, class: 'form-check-input' %>
                    <%= form.label "answers[#{question.id}]", answer.content, value: answer.id, class: 'form-check-label' %>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
        <%= form.submit 'Submit', class: 'btn btn-danger mt-2' %>
      <% end %>
    <% end %>
  </div>
<% end %>
