<div>
  <div class="bg-primary">
    <h1 id="lecture-title"><%= @lecture.title %></h1>
    <h2 id="lecture-content">
      <% if lecture.summary.present? %>
        <%= simple_format(@lecture.summary) %>
      <% else %>
        <%= simple_format(@lecture.content) %>
      <% end %>
    </h2>
  </div>
  <div class="bg-danger">
    <% if current_user.teacher? %>
      <%= render 'shareable_link', lecture: @lecture %>
    <% end %>
  </div>
  <%= link_to "Edit lecture", '#', data: {action: "click->lecture#displayEditForm"} %>
  <%= link_to "Delete this lecture", lecture_path(@lecture), data: { turbo_method: :delete, turbo_confirm: 'Are you Sure' } %>
  <div class="d-none" data-lecture-target="editForm">
    <%= simple_form_for lecture, remote: true do |f| %>
      <%= f.input :title %>
      <%= f.text_area :summary, as: :text %>
      <%= f.button :submit, "Update" %>
    <% end %>
  </div>
</div>
