<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex">
    <%= link_to dashboard_path, class: "navbar-brand" do %>
      <%= image_tag "sophai-logo.svg", class:"logo" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav-item">
      <h2><%= link_to "{ SOPH.AI }", dashboard_path, class:"text-decoration-none text-white" %></h2>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "My Dashboard", dashboard_path, class:"text-decoration-none text-white" %>
          </li>
          <li>
              <%= current_user.first_name if current_user.first_name.present? %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag(current_user.photo.key, class: "avatar profile-pic", alt: "dropdown menu") %>
              <% else %>
                <%= image_tag("nasa-small.jpg", class:"avatar profile-pic", alt:"dropdown-menu") %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
