<div class="row p-5">
  <div class="calendar-container col-7">
    <%= month_calendar(events: @reminders) do |date, reminders| %>
      <%= date %>
        <% reminders.each do |reminder| %>
          <div class="meeting">
            <p><%= reminder.name %></p>
          </div>
        <% end %>
    <% end %>
  </div>
  <div class="col-5">
    <h1 class="text-center">Lectures</h1>
    <div class="lecture-container">
      <div class="d-flex flex-column align-items-center">
        <% current_user.student_lectures.map(&:lecture).uniq.each do |lecture| %>
          <div class="student-lecture-card mb-3">
            <div class="card__title"><%= link_to lecture.title, lecture_path(lecture), class:"lecture-title-card" %></div>
            <div class="card__subtitle"><%= lecture.summary.split.first(15).join(" ") %>...</div>
            <div class="card__indicator mb-3"><span class="card__indicator-amount">Quiz grade:</span><span class="card__indicator-percentage"
            style="color: <%= (grade = lecture.average_quiz_grade_for_student(current_user)) <= 50 ? 'red' : grade < 80 ? 'orange' : 'green' %>;">
            <%= grade %>% </span></div>
            <div class="card__progress">
              <div class="progress-bar <%= (grade = lecture.average_quiz_grade_for_student(current_user)) <= 50 ? 'progress-grade-red' : grade < 80 ? 'progress-grade-orange' : 'progress-grade-green' %>" style="width: <%= grade %>%;"></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <div class="profile-info-card">
        <div class="profile-info-image">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag(current_user.photo.key, class:"profile-image") %>
          <% else %>
            <%= image_tag("nasa-small.jpg", class:"profile-image") %>
          <% end %>
        </div>
        <div class="profile-info-textContainer">
          <p class="profile-info-name"><%= current_user.first_name %> <%= current_user.last_name %></p>
          <p class="profile-info-email">
            Average grade:
            <% if current_user.student_lectures.empty? %>
              <span class="grade-red">
                <strong>0%</strong>
              </span>
            <% else %>
              <span class="<%= (average_grade = current_user.student_lectures.map { |sl| sl.lecture.average_quiz_grade_for_student(current_user) }.sum / current_user.student_lectures.size) <= 50 ? 'grade-red' : average_grade < 80 ? 'grade-orange' : 'grade-green' %>">
                <strong><%= average_grade %>%</strong>
              </span>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
