<div class="row p-5" data-controller="generate-lecture">
  <div class="calendar-container col-7">
    <%= month_calendar(events: @reminders) do |date, reminders| %>
      <%= date %>
      <% reminders.each do |reminder| %>
        <div class="meeting">
          <p><%= reminder.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-5">
    <h1 class="text-center mb-4">Lectures</h1>
    <div class="lecture-container">
      <div class="d-flex flex-column align-items-center">
        <% current_user.lectures.uniq.each do |lecture| %>
          <div class="teacher-lecture-card mb-3">
            <div class="card__title"><%= link_to lecture.title, lecture_path(lecture), class:"lecture-title-card" %></div>
            <div class="card__subtitle"><%= lecture.summary.split.first(15).join(" ") %>...</div>
            <div class="card__indicator"><span class="card__indicator-amount">Lecture quiz grade average:</span> <span class="card__indicator-percentage"><%= (lecture.quizzes.average(:grade).to_f * 100).round / 10 %>%</span></div>
            <div class="card__progress">
              <progress max="100" value="<%= (lecture.quizzes.average(:grade).to_f * 100).round / 10 %>"></progress></div>
            <div class="dropdown mt-2">
              <a class="btn students-dropdown dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Students
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <% lecture.students.uniq.each do |student| %>
                  <li class="dropdown-student">
                    <%= student.first_name %> <%= student.last_name %>:
                    <% quiz = lecture.quizzes.find_by(student: student) %>
                    <% if quiz %>
                      <%= quiz.grade * 10 %>%
                    <% else %>
                      Not yet graded
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <div class="d-flex flex-column jutify-content-center align-items-center">
    <button class="mx-auto add-lecture-button" data-action="click->generate-lecture#displayGenerateLectureForm">Add a lecture</button>
    <div class="d-flex flex-column justify-content-center align-items-center mx-auto w-100 d-none p-4" data-generate-lecture-target="generateLectureForm">
      <%= simple_form_for @lecture do |f| %>
        <%= f.input :title, input_html: { class: "create-lecture-title-input" } %>
        <%= f.label :instructions, "Content" %>
        <%= f.text_area :content, class:"create-lecture-input" %>
        <%= f.label :instructions, "Further instructions to SOPHAI" %>
        <%= f.text_area :instructions, class:"create-lecture-input"%>
        <%= f.input :file, as: :file %>
        <%= f.button :submit, class:"button" %>
      <% end %>
</div>
  </div>
  </div>
</div>
