<h1>Teacher's lectures</h1>
<% current_user.lectures.each do |lecture| %>
<%= link_to lecture.title, lecture_path(lecture) %>
<%= lecture.summary %>
<br>
<% end %>
<h1>Teacher's students</h1>
<% current_user.students.uniq.each do |student| %>
  <%= student.first_name %>
  <%= student.email %>
  <br>

  <% student.lectures_joined_as_student.uniq.each do |lecture| %>
    <%= lecture.title %>
        <%= lecture.id %>

  <% end %>
<% end %>
